.navbar {
    display: flex;
    width: 100%;
    background: #363636;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom: 1px solid #121212;
}

.navbar_info {
    margin: auto;
    padding: 0 25px;
    width: 1140px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_user_img {
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: space-around;
}

.navbar_user_img_icon {
    border: 1px solid #121212;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.navbar_btn {
    cursor: pointer;
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 14px;
    background: #262626;
    color: #8e8e8e;
    border: 0;
    margin-right: 5px;
}

.navbar_btn_active {
    cursor: pointer;
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 14px;
    background: #8e8e8e;
    color: #262626;
    border: 0;
    margin-right: 5px;
}

.navbar_btn:hover {
    background: #8e8e8e;
    color: #262626;
    transition: 0.25s;
}